<!-- <div class=" chatbox">
  <!-- <form class="example-form">
    <div class="typeBoxContainer">
      <mat-form-field class="example-full-width" appearance="fill" class="type ">
        <input matInput #message placeholder="Type here..." class="inputBox">
      </mat-form-field>
    </div>
  </form> -->
<!-- <div >
    <input type="text" #box class="textbox" placeholder="Type here..." (keydown.enter)="typeEnter(box.value)">
    <img class ="container" src="{{url}}" alt="not here" class="send" (click)="sendClick()">
  </div>
</div> -->
<div class="container-xl">
  <div class="row">
    <div class="col">
      <h1>Brought to you by...</h1>
      <img class="img-fluid" src="https://icoverinsure.com/images/logodark.png" alt="Icover">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita ipsum tempora ducimus odio repellat id optio
        libero amet tempore laudantium. Consectetur itaque soluta odio repellat sapiente temporibus ea quam porro!</p>
      <p>Click here to
        <a href="https://icoverinsure.com/">learn more...</a>
      </p>
    </div>
    <div class="col">
      
      <div class="container-sm text-center border1">
        <div class="row name">
          <div class="col-2">
            <img class="image img-fluid" src="https://cdn-icons-png.flaticon.com/512/4233/4233830.png" alt="chatbot">
          </div>
          <div class="col-8 align-items-center ">
            <a href="https://icoverinsure.com/">
              <img class="logo img-fluid" src="https://icoverinsure.com/images/logodark.png" alt="Icover">
            </a>
          </div>
          <div class="col-2">
            <img class="call img-fluid" src="https://cdn-icons-png.flaticon.com/128/152/152851.png" alt="call">
          </div>
        </div>
        <div class="row chat">

        </div>
        <div class="row ">
          <div class="container-sm">
            <div class="row">
              <div class="col-10">
                <input type="text" #box class="textbox" placeholder="Type here..."
                  (keydown.enter)="typeEnter(box.value)">
              </div>
              <div class="col-2">
                <img class="img-fluid"
                  src="/assets/send.png"
                  alt="not here" class="send img-fluid" (click)="sendClick()">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>